$fontSize: 1.5rem;

body{
    display: flex;
    justify-content: center;
    .toDoListInterface{
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 5px;
        form{
            display: flex;
            margin: 1rem 1rem;
            input{
                border: 1px solid red;
                border-radius: 5px;
                transition: outline-color 0.1s;
                outline-color: transparent;
                font-size: $fontSize;
                width: 25rem;
                height: 2.5rem;
                margin-right: 1rem;
                &:focus{
                    outline-color: red;
                    border-radius: 5px;
                }
            }
            .addBtn{
                border: none;
                border-radius: 5px;
                background-color: red;
                color: white;
                font-size: 1.3rem;
                width: 4rem;
                &:hover{
                    background-color: rgb(212, 0, 0);
                }
            }
        }
        .toDoList{
            .toDo{
                display: flex;
                justify-content: space-between;
                border: 2px solid gray;
                border-radius: 5px;
                background-color: rgb(253, 199, 199);
                padding: 1rem;
                margin: 1rem;
                p{
                    display: flex;
                    align-items: center;
                    font-size: $fontSize;
                    margin: 0;
                }
                .deleteBtn{
                    border: none;
                    border-radius: 5px;
                    background-color: rgb(194, 0, 0);
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }
    }
}